version: '2.1'
services: 
  nocodb: 
    image: "nocodb/nocodb:0.260.5"
    depends_on: 
      root_db: 
        condition: service_healthy
    environment: 
      NC_DB: "pg://root_db:5432?u=postgres&p=password&d=root_db"
      NC_JWT_EXPIRES_IN: "48h"
      NC_ADMIN_EMAIL: "admin@admin.com"
      NC_ADMIN_PASSWORD: "admin@123"
    ports: 
      - "7010:8080"
    # restart: always
    volumes: 
      - "./nc_data:/usr/app/data"

  root_db: 
    image: postgres:15
    environment: 
      POSTGRES_DB: root_db
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
    healthcheck: 
      interval: 10s
      retries: 10
      test: "pg_isready -U \"$$POSTGRES_USER\" -d \"$$POSTGRES_DB\""
      timeout: 2s
    # restart: always
    volumes: 
      - "./db_data:/var/lib/postgresql/data"

  # x-minio-common:
  #   image: minio/minio:RELEASE.2023-09-20T22-49-55Z
  #   command: server /data --console-address ":9090"
  #   ports:
  #     - 7900:9000 #!API
  #     - 7990:9090 #!dashboard
  #   volumes:
  #     - ./minio_data:/data
  #   environment:
  #     MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minioadmin}
  #     MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minioadmin}
  #   healthcheck:
  #     test: ["CMD", "curl", "-f", "http://localhost:9005/minio/health/live"]
  #     interval: 60s
  #     timeout: 20s
  #     retries: 3

# volumes: 
#   db_data: {}
#   nc_data: {}
#   minio_data: {}