version: '3.8'
services:
  mongodb:
    image: mongo:7.0
    restart: always
    ports:
      - "27000:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - ./mongodb-data:/data/db
      - ./tmp:/tmp
