version: '3.9'
services:
  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    hostname: metabase
    volumes:
    - ./dev:/dev/random:ro
    ports:
      - 3080:3000
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 5432
      MB_DB_USER: ${MB_DB_USER}
      MB_DB_PASS: ${MB_DB_PASS}
      MB_DB_HOST: postgres
    networks:
      - metanet1
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
  postgres:
    image: postgres:latest
    container_name: postgres
    hostname: postgres
    environment:
      POSTGRES_USER: ${MB_DB_USER}
      POSTGRES_DB: metabase
      POSTGRES_PASSWORD: ${MB_DB_PASS}
    networks:
      - metanet1
secrets:
  db_password:
    external: true
  db_user:
    external: true
networks:
  metanet1:
    driver: bridge
